<div class="col-md-6 user-container">
    <h2 style="margin: auto">My Token </h2>
    
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="hidden">Id</th>
       
        <th>Article Name</th>
        <th>Category</th>
     
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td class="hidden">{{user.articleId}}</td>
        <td>{{user.title}}</td>
        <td>{{user.category}}</td>
       <td> <button class="btn btn-success" (click)="editUser(user.articleId)" style="margin-left: 20px;"> Edit</button></td>
      
        
      </tr>
      <tr>
        <td colspan="2" class="text-center">
            <input type="button" (click)="onLogout()" value="Logout" />
        </td>
    </tr>
      </tbody>
    </table>
    <form [formGroup]="oppoSuitsForm" (ngSubmit)="onSubmit()">

      <select formControlName="name" (change)="changeSuit($event)">
        <option disabled>Select Oppo Suits</option>
        <option>Choose oppo suit</option>
        <option *ngFor="let suit of oppoSuits">{{suit}}</option>
      </select>
    
      <button>Submit</button>
    </form>
  </div>
  